.container {
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.pill-button {
  background: linear-gradient(45deg, #007bff, #00c6ff);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  overflow: hidden;
}
.pill-button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}
.pill-button:hover::before {
  transform: rotate(0deg);
}
.pill-button i {
  font-size: 20px;
}

.modal-header {
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
}
.modal-body {
  background: #f7f9fc;
}
.modal-footer {
  background: #f1f3f5;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #00408d;
}
.modal-icon {
  font-size: 50px;
  color: #007bff;
}
.error {
  color: red;
  font-size: 12px;
}

/* patient-list.component.css */

.table-hover tbody tr:hover {
  background-color: #e9ecef;
}

.table {
  margin-bottom: 1rem;
  background-color: #f8f9fa;
  /* opacity: 0.8; */
}
.table thead th {
  background-color: #044c9d;
  color: white;
}

.table th,
.table td {
  padding: 15px;
  text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.btn-outline-primary,
.btn-outline-danger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
}

/* Style for pagination buttons */
.pagination-controls::ng-deep li {
  margin: 0 5px;
  border-radius: 5px;
}

/* Style for pagination button links */
.pagination-controls::ng-deep li a {
  display: block;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
  text-decoration: none;
}

/* Style for hovered pagination button */
.pagination-controls::ng-deep li a:hover {
  background-color: #0056b3;
  color: white;
}

/* Style for disabled pagination button */
.pagination-controls::ng-deep li.disabled a {
  background-color: #e9ecef;
  color: #6c757d;
  border: 1px solid #dee2e6;
}

/* Style for hovered previous and next buttons */
.pagination-controls::ng-deep .pagination-prev:hover,
.pagination-controls::ng-deep .pagination-next:hover {
  background-color: #044c9d;
  border-color: #044c9d;
}

/* Hide the previous and next buttons when disabled */
.pagination-controls::ng-deep .pagination-prev.disabled,
.pagination-controls::ng-deep .pagination-next.disabled {
  display: none;
}

.head-table {
  color: #044c9d;
}

.btn-search-link,
.btn-add-patient {
  background-color: #0d6efd;
  color: white;
}
