<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="head-table">Patient List</h2>
    <div>
      <button class="btn btn-search-link mr-2" (click)="search()">
        Search Medicine
      </button>
      <button class="btn btn-add-patient" (click)="onAddPatient(content)">
        Add Patients
      </button>
    </div>
  </div>
  <hr />
  <pre>{{ closeResult }}</pre>

  <ng-template #content let-modal>
    <div class="modal-header modal-lg">
      <h4 class="modal-title" id="modal-basic-title">Add patients</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <app-add-patient [closeModel]="closeModel.bind(this)"></app-add-patient>
    </div>
  </ng-template>

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Address</th>
          <th scope="col">Zipcode</th>
          <th scope="col">Mobile</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Date of Birth</th>
          <th scope="col">Gender</th>
          <th scope="col">Blood Group</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let patient of patients
              | paginate
                : { itemsPerPage: itemsPerPage, currentPage: currentPage }
          "
        >
          <td>
            <input
              type="checkbox"
              [(ngModel)]="patient.selected"
              (change)="onToggle(patient)"
            />
          </td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.age }}</td>
          <td>{{ patient.address }}</td>
          <td>{{ patient.zipcode }}</td>
          <td>{{ patient.mobile }}</td>
          <td>{{ patient.first_name }}</td>
          <td>{{ patient.last_name }}</td>
          <td>{{ patient.dob }}</td>
          <td>{{ patient.gender }}</td>
          <td>{{ patient.blood_group }}</td>
          <td *ngIf="patient.selected">
            <div class="d-flex align-items-center">
              <button class="btn btn-sm mr-2" (click)="onEdit(patient)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  x="0px"
                  y="0px"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M 18.414062 2 C 18.158062 2 17.902031 2.0979687 17.707031 2.2929688 L 15.707031 4.2929688 L 14.292969 5.7070312 L 3 17 L 3 21 L 7 21 L 21.707031 6.2929688 C 22.098031 5.9019687 22.098031 5.2689063 21.707031 4.8789062 L 19.121094 2.2929688 C 18.926094 2.0979687 18.670063 2 18.414062 2 z M 18.414062 4.4140625 L 19.585938 5.5859375 L 18.292969 6.8789062 L 17.121094 5.7070312 L 18.414062 4.4140625 z M 15.707031 7.1210938 L 16.878906 8.2929688 L 6.171875 19 L 5 19 L 5 17.828125 L 15.707031 7.1210938 z"
                  ></path>
                </svg>
              </button>
              <button class="btn btn-sm" (click)="onDelete(patient.id)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  x="0px"
                  y="0px"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M 10 2 L 9 3 L 4 3 L 4 5 L 5 5 L 5 20 C 5 20.522222 5.1913289 21.05461 5.5683594 21.431641 C 5.9453899 21.808671 6.4777778 22 7 22 L 17 22 C 17.522222 22 18.05461 21.808671 18.431641 21.431641 C 18.808671 21.05461 19 20.522222 19 20 L 19 5 L 20 5 L 20 3 L 15 3 L 14 2 L 10 2 z M 7 5 L 17 5 L 17 20 L 7 20 L 7 5 z M 9 7 L 9 18 L 11 18 L 11 7 L 9 7 z M 13 7 L 13 18 L 15 18 L 15 7 L 13 7 z"
                  ></path>
                </svg>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls
    (pageChange)="onPageChange($event)"
    class="d-flex justify-content-center mt-4"
  ></pagination-controls>

  <ng-template #editPatientModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Patient</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="closeModel()"
      ></button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onUpdate()" #editForm="ngForm">
        <div *ngIf="editPatient" class="mt-4">
          <h2 class="text-primary">Edit Patient</h2>
          <form (ngSubmit)="onUpdate()" #editForm="ngForm">
            <div class="form-group">
              <label for="name">Name:</label>
              <input
                type="text"
                class="form-control"
                id="name"
                [(ngModel)]="editPatient.name"
                name="name"
                required
              />
            </div>
            <div class="form-group">
              <label for="age">Age:</label>
              <input
                type="number"
                class="form-control"
                id="age"
                [(ngModel)]="editPatient.age"
                name="age"
                required
              />
            </div>
            <div class="form-group">
              <label for="address">Address:</label>
              <input
                type="text"
                class="form-control"
                id="address"
                [(ngModel)]="editPatient.address"
                name="address"
                required
              />
            </div>
            <div class="form-group">
              <label for="zipcode">Zipcode:</label>
              <input
                type="number"
                class="form-control"
                id="zipcode"
                [(ngModel)]="editPatient.zipcode"
                name="zipcode"
                required
              />
            </div>
            <div class="form-group">
              <label for="mobile">Mobile:</label>
              <input
                type="number"
                class="form-control"
                id="mobile"
                [(ngModel)]="editPatient.mobile"
                name="mobile"
                required
              />
            </div>
            <div class="form-group">
              <label for="first_name">First Name:</label>
              <input
                type="text"
                class="form-control"
                id="first_name"
                [(ngModel)]="editPatient.first_name"
                name="first_name"
                required
              />
            </div>
            <div class="form-group">
              <label for="last_name">Last Name:</label>
              <input
                type="text"
                class="form-control"
                id="last_name"
                [(ngModel)]="editPatient.last_name"
              />
            </div>
            <div class="form-group">
              <label for="dob">Date of Birth:</label>
              <input
                type="date"
                class="form-control"
                id="dob"
                [(ngModel)]="editPatient.dob"
                name="dob"
              />
            </div>
            <div class="form-group">
              <label for="gender">Gender:</label>
              <select
                class="form-control"
                id="gender"
                [(ngModel)]="editPatient.gender"
                name="gender"
              >
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
            <div class="form-group">
              <label for="blood_group">Blood Group:</label>
              <input
                type="text"
                class="form-control"
                id="blood_group"
                [(ngModel)]="editPatient.blood_group"
                name="blood_group"
              />
            </div>
            <button type="submit" class="btn btn-success mt-2">
              Update Patient
            </button>
          </form>
        </div>
      </form>
    </div>
  </ng-template>
</div>
