<div class="container mt-4">
  <h2 class="mb-4 text-center">Product Search</h2>

  <form (ngSubmit)="searchProducts()" class="mb-4">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search for products..."
        [(ngModel)]="searchTerm"
        name="searchTerm"
        required
      />
      <button type="submit" class="search-btn">Search</button>
    </div>
  </form>

  <div
    *ngIf="searchPerformed && products.length === 0 && searchTerm"
    class="alert alert-warning text-center"
  >
    No products found.
  </div>

  <div *ngIf="products.length > 0" class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Medicine Name</th>
          <th scope="col">Content</th>
          <th scope="col">Dosage Type</th>
          <th scope="col">MRP</th>
          <th scope="col">Price</th>
          <th scope="col">Availability</th>
          <th scope="col">Details</th>
          <th scope="col">Add to cart</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let product of products"
          [class.disabled]="product.in_stock === 'no'"
        >
          <td>{{ product.medicine_name }}</td>
          <td>{{ product.content }}</td>
          <td>{{ product.dosage_type || "N/A" }}</td>
          <td>₹{{ product.mrp }}</td>
          <td>₹{{ product.price }}</td>
          <td
            [ngClass]="product.in_stock === 'yes' ? 'in-stock' : 'out-of-stock'"
          >
            {{ product.in_stock === "yes" ? "In Stock" : "Out of Stock" }}
          </td>

          <td class="text-center">
            <button
              class="btn info-btn"
              (click)="fetchProductDetails(product.medicine_id, content)"
            >
              info
            </button>
          </td>
          <td class="text-center">
            <button class="btn add-to-cart-btn" (click)="addToCart(product)">
              +
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <button class="show-cart-button" (click)="showCart()" #cartButton>
    <svg
      baseProfile="tiny"
      height="24px"
      version="1.2"
      viewBox="0 0 24 24"
      width="24px"
      xml:space="preserve"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <g id="Layer_1">
        <g>
          <path
            d="M20.756,5.345C20.565,5.126,20.29,5,20,5H6.181L5.986,3.836C5.906,3.354,5.489,3,5,3H2.75c-0.553,0-1,0.447-1,1    s0.447,1,1,1h1.403l1.86,11.164c0.008,0.045,0.031,0.082,0.045,0.124c0.016,0.053,0.029,0.103,0.054,0.151    c0.032,0.066,0.075,0.122,0.12,0.179c0.031,0.039,0.059,0.078,0.095,0.112c0.058,0.054,0.125,0.092,0.193,0.13    c0.038,0.021,0.071,0.049,0.112,0.065C6.748,16.972,6.87,17,6.999,17C7,17,18,17,18,17c0.553,0,1-0.447,1-1s-0.447-1-1-1H7.847    l-0.166-1H19c0.498,0,0.916-0.366,0.989-0.858l1-6C21.056,6.028,20.947,5.564,20.756,5.345z"
          />
          <circle cx="7.5" cy="20.5" r="1.5" />
          <circle cx="17.5" cy="20.5" r="1.5" />
        </g>
      </g>
    </svg>
  </button>

  <div *ngIf="selectedProductDetails" class="backdrop"></div>

  <!-- Product Details Modal -->

  <ng-template #content let-modal>
    <div class="modal-header modal-lg" id="productDetailsModal">
      <h4 class="modal-title" id="modal-basic-title">Products details</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="modal-body">
        <p>
          <strong>Medicine Name:</strong>
          {{ selectedProductDetails.medicine_name }}
        </p>
        <p><strong>Content:</strong> {{ selectedProductDetails.content }}</p>
        <p>
          <strong>Dosage Type:</strong>
          {{ selectedProductDetails.dosage_type }}
        </p>
        <p><strong>MRP:</strong> ₹{{ selectedProductDetails.mrp }}</p>
        <p><strong>Price:</strong> ₹{{ selectedProductDetails.price }}</p>
        <p>
          <strong>Manufacturer Name:</strong>
          {{ selectedProductDetails.manufacturer_name }}
        </p>
        <p>
          <strong>Pack Size:</strong>
          {{ selectedProductDetails.pack_size }}
        </p>
        <p>
          <strong>How to Use:</strong>
          {{ selectedProductDetails.how_to_use }}
        </p>
        <p>
          <strong>Side Effects:</strong>
          {{ selectedProductDetails.side_effects }}
        </p>
        <!-- Add more details as needed -->
      </div>
    </div>
  </ng-template>
</div>
